* {
  margin: 0;
  padding: 0;
}
/* .Nav {
  align-items: center;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(202, 215, 218);
  display: grid;
  grid-template-rows: repeat(1, 70px);
  grid-template-columns: repeat(1, 1fr);
} */
.input1 {
  display: block;
  padding: 10px;
}
.create-input {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(1, 80px);
  grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
  margin: 10px;
  /* grid-gap: 20px; */
  /* background-color: blue; */
  justify-items: center;
}
button {
  margin-top: 15px;
  padding: 5px;
}
.search-input {
  padding: 5px;
  margin: 10px;
}
.search-div {
  margin: 15px;
  align-items: center;
  text-align: center;
}
